.about-me {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.about-me h1 {
  font-size: 2rem;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.about-me-content {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    margin-top: 10px;
  }
}

.center {
  text-align: center;
  margin: auto;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 80%; // Adjust as needed
  }
}

@media (max-width: 768px) {
  .container1 {
    text-align: center;
  }
  
  img.center {
    width: 100%;
    height: auto;
  }
  
  /* Adjust other styles for smaller screens */
}